{{define "contacts"}}
{{template "header"}}
<main class="px-3">
	<h1>Main page.</h1>
	<p class="lead">Switter is opensource social for people who searching job </p>
	<p class="lead">
	<a href="https://t.me/nechel1233" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Telegram</a>
	<a href="https://github.com/nechel11" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Git</a>
	<a href="https://hh.ru/resume/fe3d9308ff0727aa460039ed1f336b6276536e" class="btn btn-lg btn-secondary fw-bold border-white bg-white">HH</a>
	</p>
</main>
</div>
{{end}}